.not-displayed {
    display: none;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#code-input {
    font-size: 25px;
}

#camera-btn {
    font-size: 22px;
}

#title {
    font-size: 16px;
}

#summary {
    font-size: 35px;
}

    #summary img {
        float: right;
    }

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}
